node_modules
**/node_modules
dist
**/dist
.next
**/.next
.pnpm
**/.pnpm
.DS_Store
*.log
.git
.gitignore
.env
docker-compose.prod.yml
**/prisma/generated
**/prisma/generated/**
**/query_engine*
**/*.dll.node
**/*.so
